.cart-modal header {
    padding: 1.5rem 1.7rem;
    border-bottom: 1px solid #666;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.cart-modal main {
    margin: 0;
    flex-grow: 1;
    border-bottom: 1px solid #666;
    padding: 1rem 1.2rem;
    max-height: 40vh;
    overflow-y: scroll;
}


.cart-modal footer {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1.7rem;
    gap: 1rem;
    margin: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}


.total-amount {
    display: flex;
    align-items: flex-end;
    margin: 0;
}

.total-amount__label {
    flex-grow: 1;
}

.total-amount h3 {
    margin: 0;
}

.action-bar {
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    gap: .5rem;
}