.cart-item {
    display: flex;
    align-items: center;
}

.cart-item:not(:last-child) {
    border-bottom: 1px solid #666;
    padding-bottom: 1rem;

}

.cart-item:not(:first-child) {
    padding-top: 1rem;
}

.info {
    display: flex;
    flex-grow: 1;
    gap: 2.5rem;
    align-items: center;
}

.cart-item .info-main {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.cart-item .amount {
    margin: 0;
    border: 1px solid #666;
    border-radius: 12px;
    padding: .3rem .7rem;
    height: min-content;
}

/* 
button:not(:first-child) {
    margin-left: .5rem;
} */

.cart-item .button-group {
    display: flex;
    gap: .7rem;
}