.cart-modal {
    margin-top: 10vh;
    max-height: 75vh;
}
.cart-modal > footer{
    border:0;
}

.cart-modal main {
    padding: 1rem 1.2rem;
}

.total-amount {
    display: flex;
    align-items: flex-end;
}

.total-amount__label {
    flex-grow: 1;
}