.cart-item {
    display: flex;
}

.cart-item:not(:last-child) {
    border-bottom: 1px solid #666;
    padding-bottom: 1rem;

}

.info {
    display: flex;
    flex-grow: 1;
    gap: 2.5rem;
    align-items: flex-end;
}

.info-main {
    display: flex;
    flex-direction: column;
}

.amount {
    margin: 0;
    border: 1px solid #666;
    border-radius: 12px;
    padding: .2rem .5rem;
    height: min-content;
}

/* 
button:not(:first-child) {
    margin-left: .5rem;
} */