.address-modal {
    padding: 1.7rem 2rem;
    gap: 1.5rem;
}

.address-modal form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.address-modal .form-actions {
    margin-top: 1rem;
    display: flex;
    gap: .7rem;
}

.invalid input,
.invalid p {
    color: red;
    border-color: red;
}