.menu-item {
    display: flex;
    gap: 8px;
    color: white;
    padding: .7rem 1rem;
    align-items: center;
}

.menu-item.highlighted {
    background-color: #e3d8ff;
    color: #6f2be8;
    border-radius: 16px;
    border: 1px solid #6f2be8;
}

.menu-item.highlighted svg {
    fill: #6f2be8;
}

.menu-item svg {
    height: 1.5rem;
    width: 1.5rem;
    fill: white
}