.input {
    display: flex;
    gap: .5rem;
    justify-content: flex-end;
    align-items: center;

}

input {
    appearance: textfield;
    margin: 0;
    width: 2.2rem;
    padding: .2rem .5rem;
}